/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f3f3;
}

.container {
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

header {
  background-color: #fff;
  padding: 20px 0px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #111;
  margin: 0;
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 900;
}

section {
  padding: 3% 8%;
}

h2 {
  color: #111;
  padding: 30px 20px;
  font-family: Catamaran;
  font-size: 20px;
  font-weight: 700;
}

p {
  color: #111;
  font-family: Garamond;
  font-size: 18px;
  font-weight: 900;
  text-align: justify;
  text-justify: inter-word;
}

/*TEAM*/
ul {
  list-style: none;
  padding: 0;
}

li {
  width: 33.33%;
  margin-bottom: 20px;
}

.team-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-card {
  width: 200px;
  height: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  text-align: center;
  background-color: #1E2575;
}

.team-card img {
  width: 150px;
  height: auto;
}

.text-container p {
  color: #f3f3f3;
  font-family: Garamond;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
}

.text-container h3 {
  color: #f3f3f3;
  font-family: Garamond;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  margin: 10px 0;
}

.text-container {
  display: grid;
  gap: 10px;
  text-align: center;
}

.problem-solution {
  background-color: #E0E4EB;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 30px;
}

.problem-solution-text {
  width: 60cap;
}

.problem-solution-image img {
  width: 400px;
  height: 400px;
}

.team {

}

.customer-segments {
  background-color: #E0E4EB;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 30px;
}

.customer-segments-text {
  width: 60cap;
}

.customer-segments-image img {
  width: 400px;
  height: 400px;
}

.competition{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 30px;
}

.competition-text {
  width: 60cap;
}

.competition-image img {
  width: 400px;
  height: 400px;
}

.key-metrics {
  background-color: #E0E4EB;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 30px;
}

.key-metrics-text {
  width: 60cap;
}

.key-metrics-image img {
  width: 400px;
  height: 400px;
}

.cost-structure{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 30px;
}

.cost-structure-text {
  width: 60cap;
}

.cost-structure-image img {
  width: 400px;
  height: 400px;
}

.revenue-streams {
  background-color: #E0E4EB;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 30px;
}

.revenue-streams-text {
  width: 60cap;
}

.revenue-streams-image img {
  width: 400px;
  height: 400px;
}

.customer-discovery-text p {
  padding: 10px 20px;
}

.customer-discovery-conv-1 {
  display: flex;
  margin: 0, auto;
  justify-content:center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: baseline;
}

.customer-discovery-conv-2 {
  display: flex;
  margin: 0, auto;
  justify-content:center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: baseline;
}

.customer-discovery-conv-3 {
  display: flex;
  margin: 0, auto;
  justify-content:center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: baseline;
}

.customer-discovery-conv-4 {
  display: flex;
  margin: 0, auto;
  justify-content:center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: baseline;
}

.customer-discovery-conv-5 {
  display: flex;
  margin: 0, auto;
  justify-content:center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: baseline;
}